body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

p {
  margin-bottom: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  --font-family: "Montserrat", sans-serif;
  --text-color: #4b5563;
  --text-color-secondary: #6b7280;
  --primary-color: #6c6868;
  --primary-color-text: #ffffff;
  --black-primary: #231f20;
  --succsess-primary: white;
}

.bg-primary-black {
  background-color: var(--black-primary) !important;
}

.landingpage-divider {
  border-color: white;
}

.banner-container {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-azul-degradado_23-2149347096.jpg?t=st=1708556031~exp=1708559631~hmac=6cf15c4a8cdc832832db80528742389d722b9ebfe2c60e30c1328d503bd6be3f&w=740");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.carousel-card {
  margin-top: 318px;
  padding: 30px;
}

.login-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.carousel-text {
  display: flex;
  justify-content: space-between;
}

.login-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.footer-container {
  background-color: #231f20;
  color: #ffffff;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Button */
.p-button {
  color: #ffffff;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button,
.p-fileupload-choose.p-button-success {
  color: #ffffff;
  background: #1e984b;
  border: 1px solid #22c55e;
}

/* Colors */
.bg-black-primary {
  background-color: var(--black-primary);
}

/* Sizes */
.max-container-width {
  max-width: 90vw;
  min-height: 83vh;
}

.p-menubar .p-submenu-list {
  z-index: 2;
}

.p-card .p-card-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.p-card-max-height {
  max-height: 150px;
}
