:root {
  font-family: "Montserrat", sans-serif;
  --font-family: "Montserrat", sans-serif;
  --text-color: #4b5563;
  --text-color-secondary: #6b7280;
  --primary-color: #647657;
  --primary-color-text: #ffffff;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

.p-button {
  color: #ffffff;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
}
