body,
html {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  --font-family: "Montserrat", sans-serif;
  --text-color: #4b5563;
  --text-color-secondary: #6b7280;
  --primary-color: #6c6868;
  --primary-color-text: #ffffff;
  --black-primary: #231f20;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* Button */
.p-button {
  color: #ffffff;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Colors */
.bg-black-primary {
  background-color: var(--black-primary);
}

/* Sizes */
.max-container-width {
  max-width: 1400px;
}

.p-menubar .p-submenu-list {
  z-index: 2;
}
